<div style="background-color: #e4a000 ; color: white ;padding: 20px;border: 1px solid gray" >
  <h1>Wlcome to Coursera </h1>
  <p><%= @greeting %>, hope you are doning well.</p>
  <h3>Coursera is one of the most interisting sites over all the world
  you will love it </h3>
  <p>This mail sent to you for confirm registration </p>
</div>